<h2 class="text-success">Some Text</h2>
<h2 class="text-error">Some Text</h2>
<h2 class="text-special">Some Text</h2>

<h4 [class]="txtStatus">Static Variable Text</h4>
<h4 [class]="txtStatus">Static Variable Text</h4>
<h4 class="abc" [class]="txtStatus">Static Variable Text see abc class</h4>

<h1 [class]="txtStatus">Static Variable Text</h1>
<h1 [class.text-error]="hasError">Static Variable Text</h1>
<h1 class="abcd" [ngClass]="statusClass">Static Variable Text</h1>


<input type="text" placeholder="Text" value="{{name}}" />
<p>{{this.name}}</p>

<div class="btnCont">
	<input type="hidden" #selected />

	<div>
		<button (click)="selected.value='abc'">ABC</button>
		<button (click)="selected.value='pqr'">PQR</button>
		<button (click)="selected.value='xyz'">XYZ</button>
	</div>

	<ul [ngSwitch]="selected.value">
	<li *ngSwitchDefault="'abc'">ABC 01</li>
	<li *ngSwitchCase="'pqr'">ABC 02</li>
	<li *ngSwitchCase="'xyz'">ABC 03</li>
	</ul>
</div>


