@mixin goT($para) { 
	border-radius:$para;
	-moz-border-radius:$para;
	-webkit-border-radius:$para;
	-ms-border-radius:$para;
}

.app-login { width:100%; background-color:#eee; padding: 2px 100px; box-shadow: 0 0 5px #999; @include goT(4px) }

.container {  }