<div>
	<p *ngIf="dddGhj">Just IF</p>
</div>

<div>
	<p *ngIf="dddGhj; else top01;">Just IF ELSE</p>
	<ng-template #top01>Para IF ELSE 01</ng-template>
</div>

<div>
Object {{objList.firstName}}
</div>

<h1>Custom Pipe</h1>
<b>Square root of 25 is: {{25 | sqrt}}</b>
<br/>
<b>Square root of 729 is: {{729 | sqrt}}</b>

<div>
	<p *ngIf="dddGhj; then top01 else top02;">Just IF THEN ELSE</p>
	<ng-template #top01>Para IF ELSE 01</ng-template>
	<ng-template #top02>Para IF ELSE 02</ng-template>
</div>


<ul class="noMargin animGp">
<li *ngFor="let i of arrPlan"><h4>{{i}}</h4></li>
</ul>

<input type="hidden" #themeColour/>

<div>
<div (click)="themeColour.value='orange'">Orange</div>
<div (click)="themeColour.value='black'">Black</div>
<div (click)="themeColour.value='blue'">Blue</div>
<div (click)="themeColour.value='brown'">Brown</div>
<div (click)="themeColour.value='white'">White</div>
</div>

<ul [ngSwitch]="themeColour.value">
<li *ngSwitchDefault="'orange'">Orange</li>
<li *ngSwitchCase="'black'">Black</li>
<li *ngSwitchCase="'blue'">Blue</li>
<li *ngSwitchCase="'brown'">Brown</li>
<li *ngSwitchCase="'white'">White</li>
</ul>
