@font-face {
    font-family: 'OpenSansRegular';
    src: url('../../../fonts/opensans-regular-webfont.eot');
    src: url('../../../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../../../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../../../fonts/opensans-regular-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.gallery {
	margin-bottom: 21px;
	}
.intro {
	font-size: 14px;
	width: 100%;
	position: relative;
	margin: 0 -9999px 30px;
	padding: 29px 9999px 09px;
	}
.gallery-holder{
	font: 14px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	margin: -29px -30px -40px;
	overflow: hidden;
	font-family: 'OpenSansRegular';
	position: relative;
	}
#banner{   
	position: absolute;   
	}
.oneByOne1{
	top: 0px;
	left: 0px;  
	background: ;	
	margin: 0px auto;
	width: 990px;
	height: 397px;   
	/*background: #EFEFEF url(../images/paven.png) repeat;    */
	position: relative;
	overflow: hidden;

} 
#banner .oneByOne_item{
	position: absolute;
	width: 990px;
	height: 397px;  
	overflow: hidden;  
}                              
#banner .oneByOne_item img.bigImage{ 
	position: absolute;
	top: 0; 
	left: 0;

}
#banner .oneByOne_item span.slideh2{ 
  	position: relative;
	float: left;
	margin: 52px 12px 0 562px;
	padding: 8px;
	color:#222;
	font: bold 44px/46px 'Open Sans', Arial, Helvetica, sans-serif;
	font-family: 'OpenSansRegular';
	/*background: #FFFFFF;*/
}
#banner .oneByOne_item span.slideh3{ 
  	position: relative;
	float: left;
	margin: 3px 12px 0 562px;
	padding: 8px;
	font: 300 24px/26px 'Merriweather', Arial, Helvetica, sans-serif;
	color:#007ec6;
	/*background: #FFFFFF;*/
}
#banner .oneByOne_item span.slideparagraph{ 
  	position: relative;
	float: left;
	margin: 1px 12px 0 562px;
	padding: 8px;
	color:#777;
	font:14px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	/*background: #FFFFFF;*/
}
#banner .oneByOne_item span.slidebutton a{
  	position: relative;
	background-color: #0088d6;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0088d6), to (#007cc4));
	background: -webkit-linear-gradient(top, #0088d6, #007cc4);
	background: -moz-linear-gradient(top, #0088d6, #007cc4);
	background: -ms-linear-gradient(top, #0088d6, #007cc4);
	background: -o-linear-gradient(top, #0088d6, #007cc4);
	box-shadow:#006097 0px 2px 0px;
	border-radius:3px;
	float: left;
	margin: 13px 12px 0 570px;
	font:bold 14px/40px 'Open Sans', Arial, Helvetica, sans-serif;
	font-family: 'OpenSansRegular';
	display:inline-block;
	vertical-align:top;
	text-transform:uppercase;
	color:#fff;
	text-shadow:1px 1px 0 rgba(0, 0, 0, .1);
	padding:0 18px;
	text-transform: capitalize;
}
#banner .oneByOne_item span.slidebutton a:hover {
	color:#fff;
}
#banner .oneByOne_item span.slideh2_left{ 
  	position: relative;
	float: left;
	margin: 52px 570px 0 32px;
	padding: 8px;
	color:#222;
	font: bold 44px/46px 'Open Sans', Arial, Helvetica, sans-serif;
	font-family: 'OpenSansRegular';
	/*background: #FFFFFF;*/
}
#banner .oneByOne_item span.slideh3_left{ 
  	position: relative;
	float: left;
	margin: 3px 12px 0 32px;
	padding: 8px;
	font: 300 24px/26px 'Merriweather', Arial, Helvetica, sans-serif;
	/*background: #FFFFFF;*/
	color:#007ec6;
}
#banner .oneByOne_item span.slidebutton_left a:hover,
#banner .oneByOne_item span.slidebutton a:hover {
	background: rgba(2,153,238);
	background: -moz-linear-gradient(top,  rgba(0,155,243,1) 0%, rgba(3,137,213,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,155,243,1)), color-stop(100%,rgba(3,137,213,1)));
	background: -webkit-linear-gradient(top,  rgba(0,155,243,1) 0%,rgba(3,137,213,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,155,243,1) 0%,rgba(3,137,213,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,155,243,1) 0%,rgba(3,137,213,1) 100%);
	background: linear-gradient(top,  rgba(0,155,243,1) 0%,rgba(3,137,213,1) 100%);
	box-shadow:#0266a0 0px 2px 0px;
}
#banner .oneByOne_item span.slideparagraph_left{ 
  	position: relative;
	float: left;
	margin: 1px 570px 0 32px;
	padding: 8px;
	color:#777;
	font:14px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	font-family: 'OpenSansRegular';
	/*background: #FFFFFF;*/
}
#banner .oneByOne_item span.slidebutton_left a{
	background-color: #0088d6;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0088d6), to (#007cc4));
	background: -webkit-linear-gradient(top, #0088d6, #007cc4);
	background: -moz-linear-gradient(top, #0088d6, #007cc4);
	background: -ms-linear-gradient(top, #0088d6, #007cc4);
	background: -o-linear-gradient(top, #0088d6, #007cc4);
	box-shadow:#006097 0px 2px 0px;
	border-radius:3px;
	position: relative;
	float: left;
	margin: 13px 570px 0 40px;
	font:bold 14px/40px 'Open Sans', Arial, Helvetica, sans-serif;
	font-family: 'OpenSansRegular';
	display:inline-block;
	vertical-align:top;
	text-transform:capitalize;
  	color:#fff;
	text-shadow:1px 1px 0 rgba(0, 0, 0, .1);
	padding:0 18px;
}
#banner .oneByOne_item span.slidebutton_left a:hover {
	color:#fff;
}

.oneByOne_item img {-webkit-transform:translate3d(0,0,0);}
.oneByOne_item span.slideh2 {-webkit-transform:translate3d(0,0,0);}
.oneByOne_item span.slideh3 {-webkit-transform:translate3d(0,0,0);}
.oneByOne_item span.slideparagraph {-webkit-transform:translate3d(0,0,0);}
.oneByOne_item span.slidebutton {-webkit-transform:translate3d(0,0,0);}
.oneByOne_item span.slidebutton a {-webkit-transform:translate3d(0,0,0);}

.oneByOne_item span.slideh2_left {-webkit-transform:translate3d(0,0,0);}
.oneByOne_item span.slideh3_left {-webkit-transform:translate3d(0,0,0);}
.oneByOne_item span.slideparagraph_left {-webkit-transform:translate3d(0,0,0);}
.oneByOne_item span.slidebutton_left {-webkit-transform:translate3d(0,0,0);}
.oneByOne_item span.slidebutton_left a {-webkit-transform:translate3d(0,0,0);}