$fontColorGray:#333333;
$globalFontSize:1.25em;
$fontFamily:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;

$primaryColor:#880372;
$primaryLight:#880372;
$primaryDark:#880372;

$textWhite:#FFFFFF;