html, body, * { font-family:Arial, Helvetica, sans-serif; }
* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-size:14px; color: #000000; line-height:1.25rem; }
#container { padding:25px; }
h4 { margin-bottom:10px;}
p { font-size:15px; line-height:20px;}

button { padding:7px 9px; background-color:#900; color:#FFF; border:2px solid #500; border-radius:4px; }
input[type='button'] { padding:7px 9px; background-color:#900; color:#FFF; border:2px solid #500; border-radius:4px; }

.gridContainer { display: grid; grid-template-columns:auto auto auto; gap: 20px; }
.gridItem { background-color:aqua; border:1px solid #900; height: 100px; }

.table { width:100%; border:1px solid #999; }
.table tr td { border-bottom: 1px solid #999; border-right: 1px solid #999; padding: 7px 10px }
.table tr td:last-child { border-right:none; }
.table tr th { border-bottom: 1px solid #999; border-right: 1px solid #999; padding: 7px 10px }
.table tr th:last-child { border-right:none; }
.tableTodo tr > *:nth-child(6), .table tr > *:nth-child(10) { display:none; }