/* B4 containers base start */

/* Menu start */
.smnu,.smnu div{position:absolute;left:0;top:0;list-style-type:none;visibility:hidden;z-index:100}
.smnu ul{position:absolute;left:0;top:0;list-style-type:none}
.smnu li a{ display: table;}
* html .smnu li{ display: inline-block;}
.smnu li a:hover{background-color: #f9f9f9;color: #444;}
.downarrowpointer{ background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 -143 1000 1000'%3E%3Cg transform='matrix%281 0 0 -1 0 857%29'%3E%3Cpath fill='%23000000'%0Ad='M481 308l24 -24l380 379l-25 24l-355 -355l-350 351l-25 -24l279 -279z' /%3E%3C/g%3E%3C/svg%3E");background-repeat: no-repeat;background-position: 50% 50%;display: inline-block;width: 12px;height: 12px; vertical-align: middle;}
.rightarrowpointer{ background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 -143 1000 1000'%3E%3Cg transform='matrix%281 0 0 -1 0 857%29'%3E%3Cpath fill='currentColor'%0Ad='M719 505l24 24l-365 364l-25 -24l342 -340l-358 -364l24 -24l286 292z' /%3E%3C/g%3E%3C/svg%3E");background-repeat: no-repeat;background-position: 50% 50%;display: inline-block;width: 12px;height: 12px;vertical-align: middle;}
.dddivshim{position:absolute;z-index:500;display:block}
.crt-vmnu{clear: left;position: relative;}
.crt-vmnu ul{list-style-type: none;}
.crt-vmnu ul li a{ display: table; width: 100%;}
.blackwhite li a{background: white;}
.blackwhite li a:hover{background: black;color: white;}
.notransition{-webkit-transition:none!important;-moz-transition:none!important; -o-transition:none!important; transition:none!important}
nav.mobilelevelsmenu{position:fixed;left:0;top:0;z-index:1000;overflow:hidden;-webkit-transform:translateX(-100%);
transform:translateX(-100%);opacity:0;-webkit-transition:all .5s;transition:all .5s}
nav.mobilelevelsmenu.open{-webkit-transform:translateX(0);transform:translateX(0);opacity:1;-webkit-transition:all .5s; transition:all .5s}
nav.mobilelevelsmenu ul{position:absolute;overflow-y:auto;list-style:none;left:0;top:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:left .5s;transition:left .5s}
nav.mobilelevelsmenu ul li.breadcrumb{ position: relative; cursor: pointer;}
nav.mobilelevelsmenu ul li a p{vertical-align:middle;width:100%;display:table-cell}
nav.mobilelevelsmenu ul li a{ display: table; vertical-align: middle;}
nav.mobilelevelsmenu ul li a span.right{ position: absolute; right: 8px;}
/* icon animation */
.animateddrawer{display:none;position:relative;z-index:1000}
/*.animateddrawer:before,.animateddrawer:after{position:absolute;content:'';display:block;top:0;left:0;opacity:1;-webkit-transition:all .3s ease-in;transition:all .3s ease-in}
.animateddrawer:after{ top: auto; bottom: 0;}*/
.animateddrawer span{position:absolute;top:50%;-ms-transform-origin:50% 50%;-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:all .3s ease-in .3s;transition:all .3s ease-in .3s}
.animateddrawer span::after{content:'';display:block;position:absolute;-ms-transform-origin:50% 50%;-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:all .3s ease-in .3s;transition:all .3s ease-in .3s}
/*.animateddrawer.open:before{ top: 50%; opacity: 0;}
.animateddrawer.open:after{ bottom: 50%;opacity: 0;}*/
.animateddrawer.open span{-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.animateddrawer.open span:after{-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
/* menu end */

/* Vertical Menu Accordian Primary */

.crb-acmn.topnav.pri {display:inline-grid;list-style:none}     
.crb-acmn.topnav.pri > li {list-style-type: none;display: grid;}
.crb-acmn.topnav.pri li a { display: table; cursor: pointer }
.crb-acmn.topnav.pri li a ul li a{ display: table;cursor: pointer}
.crb-acmn.topnav.pri li a ul li a span{display: table;cursor: pointer;width: 28px;}
    
.crb-acmn.topnav.pri li ul li a { display: table;}     
.crb-acmn.topnav.pri li a svg{ display: table-cell;vertical-align: middle;}     
.crb-acmn.topnav.pri ul { display: none;}
.crb-acmn.topnav.pri ul li {clear: both;list-style-type: none} 
.crb-acmn.topnav.pri ul li a svg{ display: table-cell;vertical-align: middle;text-align: right;}



/* Vertical Menu Accordian Secondary */

.crb-acmn.topnav.sec {display:inline-grid;list-style:none}     
.crb-acmn.topnav.sec > li {list-style-type: none;display: grid;}
.crb-acmn.topnav.sec li a { display: table; cursor: pointer }
.crb-acmn.topnav.sec li a ul li a{ display: table;cursor: pointer}
.crb-acmn.topnav.sec li a ul li a span{display: table;cursor: pointer;width: 28px;}
    
.crb-acmn.topnav.sec li ul li a { display: table;}     
.crb-acmn.topnav.sec li a svg{ display: table-cell;vertical-align: middle;}     
.crb-acmn.topnav.sec ul { display: none;}
.crb-acmn.topnav.sec ul li {clear: both;list-style-type: none} 
.crb-acmn.topnav.sec ul li a svg{ display: table-cell;vertical-align: middle;text-align: right;}



/* Vertical Menu Accordian Teritiary */

.crb-acmn.topnav.ter {display:inline-grid;list-style:none}     
.crb-acmn.topnav.ter > li {list-style-type: none;display: grid;}
.crb-acmn.topnav.ter li a { display: table; cursor: pointer }
.crb-acmn.topnav.ter li a ul li a{ display: table;cursor: pointer}
.crb-acmn.topnav.ter li a ul li a span{display: table;cursor: pointer;width: 28px;}
    
.crb-acmn.topnav.ter li ul li a { display: table;}     
.crb-acmn.topnav.ter li a svg{ display: table-cell;vertical-align: middle;}     
.crb-acmn.topnav.ter ul { display: none;}
.crb-acmn.topnav.ter ul li {clear: both;list-style-type: none}
    
.crb-acmn.topnav.ter ul li a svg{ display: table-cell;vertical-align: middle;text-align: right;}


/* For responsive tables to hide sorting button in hidden row */
 .child > .dtr-details > li .dtr-title button {display: none}

 /* table checkbox css */
/* thead */
.crb-tabl.pri .tabl-ctr table thead tr th:first-child.cen span.etb-chek.pri input[type=checkbox]{opacity:0}
.crb-tabl.pri .tabl-ctr table thead tr th:first-child.cen span.etb-chek.pri input[type=checkbox] + label {display:inline-block; }
.crb-tabl.pri .tabl-ctr table thead tr th:first-child.cen span.etb-chek.pri [data-toggle="buttons"] input[type="checkbox"] {clip: rect(0px, 0px, 0px, 0px);pointer-events: none;position: absolute;}
.crb-tabl.pri .tabl-ctr table thead tr th:first-child.cen span.etb-chek.pri input[type=checkbox] {position: absolute;z-index:unset;
    overflow: unset;clip: unset;}
.crb-tabl.pri .tabl-ctr table thead tr th:first-child.cen span.etb-chek.pri input[type=checkbox]+label {display: inline-block;
    vertical-align: middle;cursor: pointer;}
.crb-tabl.pri .tabl-ctr table thead tr th:first-child.cen span.etb-chek.pri input[type=checkbox]+label:before {content: "";
    display: inline-block;vertical-align: middle;}

/* tbody */
.crb-tabl.pri .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.pri input[type=checkbox]{opacity:0}
.crb-tabl.pri .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.pri input[type=checkbox] + label {display:inline-block; }
.crb-tabl.pri .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.pri [data-toggle="buttons"] input[type="checkbox"] {clip: rect(0px, 0px, 0px, 0px);pointer-events: none;position: absolute;}
.crb-tabl.pri .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.pri input[type=checkbox] {position: absolute;z-index:unset;
    overflow: unset;clip: unset;}
.crb-tabl.pri .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.pri input[type=checkbox]+label {display: inline-block;
    vertical-align: middle;cursor: pointer;}
.crb-tabl.pri .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.pri input[type=checkbox]+label:before {content: "";
    display: inline-block;vertical-align: middle;}
/* tfoot */
.crb-tabl.pri .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.pri input[type=checkbox]{opacity:0}
.crb-tabl.pri .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.pri input[type=checkbox] + label {display:inline-block; }
.crb-tabl.pri .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.pri [data-toggle="buttons"] input[type="checkbox"] {clip: rect(0px, 0px, 0px, 0px);pointer-events: none;position: absolute;}
.crb-tabl.pri .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.pri input[type=checkbox] {position: absolute;z-index:unset;
    overflow: unset;clip: unset;}
.crb-tabl.pri .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.pri input[type=checkbox]+label {display: inline-block;
    vertical-align: middle;cursor: pointer;}
.crb-tabl.pri .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.pri input[type=checkbox]+label:before {content: "";
    display: inline-block;vertical-align: middle;}
/* secondary checkbox css */
/* th */
.crb-tabl.sec .tabl-ctr table thead tr th:first-child.cen span.etb-chek.sec input[type=checkbox]{opacity:0}
.crb-tabl.sec .tabl-ctr table thead tr th:first-child.cen span.etb-chek.sec input[type=checkbox] + label {display:inline-block; }
.crb-tabl.sec .tabl-ctr table thead tr th:first-child.cen span.etb-chek.sec [data-toggle="buttons"] input[type="checkbox"] {clip: rect(0px, 0px, 0px, 0px);pointer-events: none;position: absolute;}
.crb-tabl.sec .tabl-ctr table thead tr th:first-child.cen span.etb-chek.sec input[type=checkbox] {position: absolute;z-index:unset;
    overflow: unset;clip: unset;}
.crb-tabl.sec .tabl-ctr table thead tr th:first-child.cen span.etb-chek.sec input[type=checkbox]+label {display: inline-block;
    vertical-align: middle;cursor: pointer;}
.crb-tabl.sec .tabl-ctr table thead tr th:first-child.cen span.etb-chek.sec input[type=checkbox]+label:before {content: "";
    display: inline-block;vertical-align: middle;}

/* tbody */
.crb-tabl.sec .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.sec input[type=checkbox]{opacity:0}
.crb-tabl.sec .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.sec input[type=checkbox] + label {display:inline-block; }
.crb-tabl.sec .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.sec [data-toggle="buttons"] input[type="checkbox"] {clip: rect(0px, 0px, 0px, 0px);pointer-events: none;position: absolute;}
.crb-tabl.sec .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.sec input[type=checkbox] {position: absolute;z-index:unset;
    overflow: unset;clip: unset;}
.crb-tabl.sec .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.sec input[type=checkbox]+label {display: inline-block;
    vertical-align: middle;cursor: pointer;}
.crb-tabl.sec .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.sec input[type=checkbox]+label:before {content: "";
    display: inline-block;vertical-align: middle;}
/* tfoot */
.crb-tabl.sec .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.sec input[type=checkbox]{opacity:0}
.crb-tabl.sec .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.sec input[type=checkbox] + label {display:inline-block; }
.crb-tabl.sec .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.sec [data-toggle="buttons"] input[type="checkbox"] {clip: rect(0px, 0px, 0px, 0px);pointer-events: none;position: absolute;}
.crb-tabl.sec .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.sec input[type=checkbox] {position: absolute;z-index:unset;
    overflow: unset;clip: unset;}
.crb-tabl.sec .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.sec input[type=checkbox]+label {display: inline-block;
    vertical-align: middle;cursor: pointer;}
.crb-tabl.sec .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.sec input[type=checkbox]+label:before {content: "";
    display: inline-block;vertical-align: middle;}
/* tertiary checkbox css */
/* thead */
.crb-tabl.ter .tabl-ctr table thead tr th:first-child.cen span.etb-chek.ter input[type=checkbox]{opacity:0}
.crb-tabl.ter .tabl-ctr table thead tr th:first-child.cen span.etb-chek.ter input[type=checkbox] + label {display:inline-block; }
.crb-tabl.ter .tabl-ctr table thead tr th:first-child.cen span.etb-chek.ter [data-toggle="buttons"] input[type="checkbox"] {clip: rect(0px, 0px, 0px, 0px);pointer-events: none;position: absolute;}
.crb-tabl.ter .tabl-ctr table thead tr th:first-child.cen span.etb-chek.ter input[type=checkbox] {position: absolute;z-index:unset;
    overflow: unset;clip: unset;}
.crb-tabl.ter .tabl-ctr table thead tr th:first-child.cen span.etb-chek.ter input[type=checkbox]+label {display: inline-block;
    vertical-align: middle;cursor: pointer;}
.crb-tabl.ter .tabl-ctr table thead tr th:first-child.cen span.etb-chek.ter input[type=checkbox]+label:before {content: "";
    display: inline-block;vertical-align: middle;} 
/* tbody */
.crb-tabl.ter .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.ter input[type=checkbox]{opacity:0}
.crb-tabl.ter .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.ter input[type=checkbox] + label {display:inline-block; }
.crb-tabl.ter .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.ter [data-toggle="buttons"] input[type="checkbox"] {clip: rect(0px, 0px, 0px, 0px);pointer-events: none;position: absolute;}
.crb-tabl.ter .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.ter input[type=checkbox] {position: absolute;z-index:unset;
    overflow: unset;clip: unset;}
.crb-tabl.ter .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.ter input[type=checkbox]+label {display: inline-block;
    vertical-align: middle;cursor: pointer;}
.crb-tabl.ter .tabl-ctr table tbody tr td:first-child.cen span.etb-chek.ter input[type=checkbox]+label:before {content: "";
    display: inline-block;vertical-align: middle;}
/* tfoot */
.crb-tabl.ter .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.ter input[type=checkbox]{opacity:0}
.crb-tabl.ter .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.ter input[type=checkbox] + label {display:inline-block; }
.crb-tabl.ter .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.ter [data-toggle="buttons"] input[type="checkbox"] {clip: rect(0px, 0px, 0px, 0px);pointer-events: none;position: absolute;}
.crb-tabl.ter .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.ter input[type=checkbox] {position: absolute;z-index:unset;
    overflow: unset;clip: unset;}
.crb-tabl.ter .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.ter input[type=checkbox]+label {display: inline-block;
    vertical-align: middle;cursor: pointer;}
.crb-tabl.ter .tabl-ctr table tfoot tr td:first-child.cen span.etb-chek.ter input[type=checkbox]+label:before {content: "";
    display: inline-block;vertical-align: middle;}
/* table checkbox end */
/* B4 containers base end */