/* T6 fonts start */
@font-face {
    font-family: 'roboto';
    src: url('../../../fonts/roboto/roboto-thin-webfont.eot');
    src: url('../../../fonts/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-thin-webfont.woff') format('woff'),
         url('../../../fonts/roboto/roboto-thin-webfont.svg#robotomedium') format('svg');
    font-weight: 100; font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../../../fonts/roboto/roboto-light-webfont.eot');
    src: url('../../../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('../../../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: 300; font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../../../fonts/roboto/roboto-regular-webfont.eot');
    src: url('../../../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../../../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400; font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../../../fonts/roboto/roboto-medium-webfont.eot');
    src: url('../../../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
         url('../../../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 500; font-style: normal;
}




/* Roboto Condensed */
/* Light */
/*
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: url("../../../fonts/robotocondensed/RobotoCondensed-Light.ttf") format('truetype');
}

/* Normal */
/*
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: url("../../../fonts/robotocondensed/RobotoCondensed-Regular.ttf") format('truetype');
}

/* Bold */
/*
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: url("../../../fonts/robotocondensed/RobotoCondensed-Bold.ttf") format('truetype');
}
*/

/* T6 fonts end */