@mixin boxShadow {
    box-shadow:0 0 5px #999999;
}

.inputFull { width: 100%; padding: 0.5em 0.875em; font-size: 1rem; border: 1px solid #999999; border-radius: 4px; }

ul.todo {
    margin-top:2rem;
    & li {
        margin-bottom:10px;
        
        & > div {
            display:flex; gap: 15px;

            & > div:nth-child(2){
                flex-grow:1;
            }
            input[type="checkbox"]{
                width:18px; height:18px;
            }
            svg{
                width:32px;
                height:32px;
                &.editIcon{
                    fill:#3d0cc2;
                }
                &.delIcon{
                    fill:#990000;
                    .st0{
                        fill:none;
                    }
                }
            }
        }
    } 
}

.todolist {
    background-color:#f2fdd6;
    padding:2rem;
    border-radius:10px;
    max-width:450px;

    .addSection { 
        display:flex; 
        gap: 20px;
        margin-top: 1.5rem;

        & > div:first-of-type {
            flex-grow:1;
        }
        span { 
            background-color: #165609; width:36px; height:36px; text-align: center; border-radius: 4px; display:block;
            svg {
                fill:#eeeeee;
                width:36px; height:36px; padding-top: 7px;
            }
        }
    }
}