<input type="hidden" #animals />

<div class="btn-group">
	<button class="btn btn-primary active" (click)="animals.value='lion'">LION</button>
	<button class="btn btn-primary" (click)="animals.value='beer'">BEER</button>
	<button class="btn btn-primary" (click)="animals.value='tiger'">TIGER</button>
	<button class="btn btn-primary" (click)="animals.value='rat'">RAT</button>
</div>


<ul [ngSwitch]="animals.value" class="mt-3">
	<li *ngSwitchDefault="'lion'"><a href="" class="alert alert-success">LION</a></li>
	<li *ngSwitchCase="'beer'"><a href="" class="alert alert-danger">BEER</a></li>
	<li *ngSwitchCase="'tiger'"><a href="" class="alert alert-info">TIGER</a></li>
	<li *ngSwitchCase="'rat'"><a href="" class="alert alert-warning">RAT</a></li>
</ul>


<div class="row">

</div>