.text-success { color:green }
.text-error { color:red }
.text-special { font-weight:600; font-style:italic}

.abc { text-transform:uppercase; color:#FFF000 }
.abcd { text-transform:uppercase; }

.btnCont { background-color: #FFF; margin-top: 25px; padding: 20px; border-radius: 4px; }
.btnCont button { margin:10px 10px 10px 0; }
.btnCont ul li { font-size:1.2rem; font-weight:600; }

