/* You can add global styles to this file, and also import other style files */

:root {
	--priColour:#1a2e97;
	--secColour:#246e1f;
}

body,html,h1,h2,h3,h4,h5,p { padding:0; margin:0; font-family:arial; }
* { box-sizing: border-box; }

.app-login, .app-pipe { background-color:#ddd; background-color: #eee; width: 100%; padding: 20px 30px; border: 1px solid #ccc; border-radius: 8px; margin-bottom:25px }

input { padding:7px 12px; font-size: 1em; border: 1px solid #999; background-color: #FFF; }
input[disabled] { border: 1px solid #ccc; background-color: #eee; }

select { font-size:1em; padding: 4px 8px; border: 1px solid #999; border-radius: 4px; }

@mixin lineHeight($val){
	line-height:$val;
}

h1 { @include lineHeight(3rem) }
h2 { @include lineHeight(2.5rem) }
h3 { @include lineHeight(2rem) }
h4 { @include lineHeight(1.6rem) }
h5 { @include lineHeight(1.2rem) }
h6 { @include lineHeight(1rem) }
p { @include lineHeight(1.1rem); }

ul { list-style-type:none; padding: 0; }
ul > li { margin-bottom:20px; }
ul.noMargin > li { margin:0; }

ul.animGp { height:160px; width:1000px }
ul.animGp > li { animation:animName 4s linear 1s infinite alternate; position:relative; top:0; left:0 }

@keyframes animName {
	0% { top:0; left:0; }
	50% { top:0; left:75px; color:#ccc000; }
	100% { top:0px; left:150px; color:#cc0000; }
 }


button { background-color: #273dad; border: 1px solid #666; color: #FFF; padding: 7px 20px; border-radius: 4px; }

.app-pipe > div > div:first-child { display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #ccc; margin-bottom: 20px; padding-bottom: 5px; }

.txtBlink { animation-name: blinkIT; animation-duration:4s; animation-iteration-count:infinite; animation-delay:3s; }

a { font-size:1rem; margin:15px 15px 15px 0; display:inline-block; color:var(--priColour) }

@keyframes blinkIT {
	0% { opacity:0; }
	75% { opacity:1; } 
}

@supports (display:grid) { 
	a { line-height:36px; }
}


