<div>

<div>
	<h4>{{pageTitle | uppercase}} Component</h4>
	<p>---{{author | lowercase}}</p>
	<!--<p>---{{author.toUpperCase()}}</p>-->
</div>

<div>
   Date
   <div class="txtBlink">{{todDate | date:'d/M/y' }}</div>
   <div>{{todDate | date:'hh:mm:ss' }}</div>
   <div>{{todDate | date:'shortTime' }}</div>
</div>
<br/>
<br/>
<div>
   Currency
   <div>{{656.50 | currency:"USD"}}</div>
   <div>{{656.50 | currency:"USD":true}}</div>
   <div>{{656.50 | currency:"USD":false}}</div>
   <br/>
   <div>{{656.50 | currency:"EUR"}}</div>
   <div>{{656.50 | currency:"EUR":true}}</div>
   <div>{{656.50 | currency:"EUR":false}}</div>
</div>

<div>
<ul>
<li><input type="text" [id]="customID" disabled="false" value="" placeholder="Input" /></li>
<li><input type="text" id={{customID}} disabled="false" value="" placeholder="Input" /></li>
<li><input type="text" [disabled]="false" value="" placeholder="Input" /></li>
<li><input type="text" value="" placeholder="Input" /></li>
<li><input type="text" disabled="false" value="" placeholder="Input" /></li>
<li><input type="text" disabled="customID02" value="" placeholder="Input" /></li>
</ul>
</div>

<div>
   Date
   <div>{{ 454.78787814 | number: '3.4-4' }}</div>
</div>

<div>
   Date
   <div>{{ arraY | slice:2:4 }}</div>
</div>

<div app-bind><div>

</div>











