* { box-sizing: border-box; padding:0; margin:0; font-family: 'Montserrat'; }
html { scroll-behavior: smooth; }

@font-face{font-family:'Montserrat';src:url(./fonts/Montserrat-Bold.eot);src:url(./fonts/Montserrat-Bold.eot?#iefix) format("embedded-opentype"),url(./fonts/Montserrat-Bold.woff2) format("woff2"),url(./fonts/Montserrat-Bold.woff) format("woff"),url(./fonts/Montserrat-Bold.ttf) format("truetype"),url(./fonts/Montserrat-Bold.svg#Montserrat-Bold) format("svg");font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:'Montserrat';src:url(./fonts/Montserrat-Regular.eot);src:url(./fonts/Montserrat-Regular.eot?#iefix) format("embedded-opentype"),url(./fonts/Montserrat-Regular.woff2) format("woff2"),url(./fonts/Montserrat-Regular.woff) format("woff"),url(./fonts/Montserrat-Regular.ttf) format("truetype"),url(./fonts/Montserrat-Regular.svg#Montserrat-Regular) format("svg");font-weight:400;font-style:normal;font-display:swap}

body { font-family: 'Montserrat'; font-weight: normal; font-size:1.05em; }
.container { max-width: 1440px; margin: 0 auto; }
.btn { padding:8px 45px; text-transform: uppercase; border-radius:4px; }
.btn-primary { background-color:#034d97; color:#FFFFFF; border:3px solid #034d97; }
.btn-info { background-color:#FFFFFF; color:#034d97; border:3px solid #034d97; }
.btn-light { background-color:#FFFFFF; color:#333333; border:3px solid #eeeeee; }
.btn-tranp { background-color:transparent; border:none; }

header { padding:0; position:fixed; left: 0; background-color: #FFF; top: 0; width: 100%; z-index:999;}
header .container { display:flex; }
header .container > div:first-child { flex-basis:180px; }
header .container > div:last-child { flex-grow:1; }
header img { max-height:32px; margin:20px 0 8px 0; }
.navContainer { list-style-type: none; display: flex; gap: 50px; justify-content: flex-end;}
.navContainer > li { padding:20px 0; border-bottom:4px solid transparent; }
.navContainer > li.active { border-bottom-color:#900; }
.navContainer a { text-decoration:none; color:#444444; font-weight:600; }

#dynText { position: relative; }
#dynText span { position:absolute; left:30px; top:-10px; display: inline-block; line-height: 42px; transition:all 1s linear 0s; }
#dynText span { transform:translateY(0px); }
#dynText #current { transform:translateY(0px); }
#dynText #current.notActive { transform:translateY(-30px); }
#dynText #next { transform:translateY(30px); }
#dynText #next.active { transform:translateY(0px); }

.section01 { background-color:#06f4a9; height:500px; margin-top: 64px }
.section02 { background-color:#980921; height:500px; }
.section03 { background-color:#4306de; height:500px; }
.section04 { background-color:#d80dd2; height:500px; }
.section05 { background-color:#d40674; height:500px; }
.section06 { background-color:#05ddf0; height:500px; }


@media screen and (max-width:992px) {
    .container { max-width:92%; }

    header { height:64px; }
    header img { max-height: 24px; }
    header > div { position: relative; }

    .navContainer { width: 100%; overflow-x: auto; justify-content: space-between; min-width: 570px; }
    .navContainer a { font-size: 0.95rem; white-space: nowrap; }
    
    #logo { position:absolute; left:0; top:0; transition: all 0.8s ease-in-out 0.2s; }
    #logo.logoTemp { left:-200px; }
    #menu { overflow-x: auto; position:absolute; left:0; top:0; transition: all 1s ease-in-out 0.1s; width: 92vw; }
    #menu.menuTemp { left:100vw }
    #menu::-webkit-scrollbar-track { background:transparent; }
    #menu::-webkit-scrollbar-thumb { background:transparent; }
    #menu::-webkit-scrollbar { width:0px;}
}
