<div class="m-4">
	<h4 class="h4 text-primary">{{pageTitle | uppercase}}</h4>
	<h6 class="alert alert-info">{{notes | lowercase}}</h6>
	<div class="date my-4">		
		<p class="alert alert-secondary">Full Details of Today Date <strong>-></strong>  {{dateDetails}}</p>
		<p>Filter Date <strong>-></strong>  {{dateDetails | date:'d:M:y'}}</p>
		<p>Filter Time <strong>-></strong>  {{dateDetails | date:'h:m:s:a'}}</p>
		<p>Filter Week <strong>-></strong>  {{dateDetails | date:'w'}}</p>
		<p>Filter GMT <strong>-></strong>  {{dateDetails | date:'z'}}</p>
		<p>Filter Day <strong>-></strong>  {{dateDetails | date:'c'}}</p>
	</div>
	<div class="date my-4">		
		<p class="alert alert-primary">Currency <strong>-></strong>  {{currency}}</p>
		<p>Currency <strong>-></strong>  {{currency | currency:'USD'}}</p>
		<p>Currency <strong>-></strong>  {{(currency+70) | currency:'EUR'}}</p>
		<p>Currency <strong>-></strong>  {{(currency-70) | currency:'INR'}}</p>
	</div>
	<div class="date my-4">		
		<p class="alert alert-warning">Decimal <strong>-></strong>  {{decimalVal}}</p>
		<p>Decimal <strong>-></strong>  {{decimalVal | number:'3.4-4'}}</p>
		<p>Decimal <strong>-></strong>  {{decimalVal | number:'2.2-2'}}</p>
		<p>Decimal <strong>-></strong>  {{decimalVal | number:'1.2'}}</p>
		<p>Decimal <strong>-></strong>  {{decimalVal | number:'1.4'}}</p>
	</div>
	<div class="date my-4">		
		<p class="alert alert-primary">Month</p>
		<ul class="monthVal">
			<li *ngFor="let i of month">{{i}}</li>
		</ul>
	</div>
	<div class="date my-4">		
		<p class="alert alert-info">Percentage <strong>-></strong>  {{percentVal}}</p>
		<p>Percentage <strong>-></strong>  {{percentVal | percent}}</p>
	</div>
	<div class="date my-4">		
		<p class="alert alert-danger">Slice <strong>-></strong>  {{sliceVal}}</p>
		<p>Slice String <strong>-></strong>  {{sliceVal | slice:2:9}}</p>
		<p>Slice String <strong>-></strong>  {{sliceVal | slice:0:sliceVal.length}}</p>
		<p>Slice String <strong>-></strong>  {{sliceVal | slice:2:sliceVal.length}}</p>
		<p>Slice String <strong>-></strong>  {{sliceVal | slice:0:sliceVal.length-7}}</p>
		<p>Slice Array <strong>-></strong>  {{month | slice:2:9}}</p>
		<p>Slice Object <strong>-></strong>  {{objVal | json | slice:2:11}}</p>
	</div>
</div>